In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import sklearn.metrics
from sklearn.metrics import confusion_matrix, accuracy_score, r2_score
from sklearn.model_selection import train_test_split

In [2]:
def statsmodels_train_test_split(df, stratify=None, **kwargs):

    if stratify is None:
        y, X = df.iloc[:,0], df.drop(columns=df.columns[0])
        X_train, X_test, y_train, y_test = train_test_split(X,y, **kwargs)
    else:
        y, X = stratify, df.drop(columns = stratify.name)
        X_train, X_test, y_train, y_test = train_test_split(X,y,stratify=y, **kwargs)
    
    return pd.concat([X_train, y_train], axis=1), pd.concat([X_test, y_test], axis=1)

Import and read CSV files

In [3]:
df = pd.read_csv('C:\\Users\\Rose\\Desktop\\Capstone4\\smalldf.csv')
dftest = pd.read_csv('C:\\Users\\Rose\\Desktop\\Capstone4\\smalldf.csv')

In [4]:
df

,Unnamed: 0,display_id,uuid,document_id_x,timestamp,platform,geo_location,source_id,publisher_id,publish_time,...,timestamp_hour,timestamp_minute,timestamp_dayofweek,the_publish_time,publish_time_year,publish_time_month,publish_time_day,publish_time_hour,publish_time_minute,publish_time_dayofweek
0,0,34922,6288e67b1d54c6,1794259,2600122,2,US>TX>623,93.0,407.0,2016-06-14 00:00:00,...,4,43,1,2016-06-14 00:00:00.000,2016.0,6.0,14.0,0.0,0.0,1.0
1,1,3982567,f90db73a75332d,1060089,253476258,1,US>VA>544,7744.0,1204.0,2016-01-23 01:00:00,...,2,24,4,2016-01-23 01:00:00.000,2016.0,1.0,23.0,1.0,0.0,5.0
2,2,7604922,9853a49f80e2f8,1303771,520980585,2,US>MO>616,12705.0,1044.0,2016-04-14 20:00:00,...,4,43,0,2016-04-14 20:00:00.000,2016.0,4.0,14.0,20.0,0.0,3.0
3,3,1439583,e4d4a17cf8c7e6,1667632,86010864,2,US>WA>819,7267.0,58.0,2016-06-08 00:00:00,...,3,53,2,2016-06-08 00:00:00.000,2016.0,6.0,8.0,0.0,0.0,2.0
4,4,3522033,4789ccff327551,1601704,228163963,2,US,12705.0,1044.0,2016-06-03 17:00:00,...,19,22,3,2016-06-03 17:00:00.000,2016.0,6.0,3.0,17.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442766,442766,9762385,36885fefb74770,2401336,657348844,2,US>CA>803,10517.0,240.0,2016-06-21 11:00:00,...,18,35,1,2016-06-21 11:00:00.000,2016.0,6.0,21.0,11.0,0.0,1.0
442767,442767,9829782,81c06904ae3666,2407625,660535091,2,US>NJ>501,553.0,180.0,2016-06-21 12:00:00,...,19,28,1,2016-06-21 12:00:00.000,2016.0,6.0,21.0,12.0,0.0,1.0
442768,442768,11723724,529cec290ebd2a,2380972,776011771,2,US>UT>770,6868.0,41.0,2016-06-21 07:00:00,...,3,33,3,2016-06-21 07:00:00.000,2016.0,6.0,21.0,7.0,0.0,1.0
442769,442769,11200483,cd1ca2d989c964,2417372,746141033,2,US>IL>602,3086.0,240.0,2016-06-21 02:00:00,...,19,15,2,2016-06-21 02:00:00.000,2016.0,6.0,21.0,2.0,0.0,1.0
442770,442770,11458568,cb94e425c572c7,2422518,759633896,2,US>CA>825,1570.0,78.0,2016-06-21 15:00:00,...,23,0,2,2016-06-21 15:00:00.000,2016.0,6.0,21.0,15.0,0.0,1.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442771 entries, 0 to 442770
Data columns (total 29 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              442771 non-null  int64
 1   display_id              442771 non-null  int64
 2   uuid                    442771 non-null  object
 3   document_id_x           442771 non-null  int64
 4   timestamp               442771 non-null  int64
 5   platform                442771 non-null  int64
 6   geo_location            442764 non-null  object
 7   source_id               442765 non-null  float64
 8   publisher_id            442765 non-null  float64
 9   publish_time            377774 non-null  object
 10  ad_id                   442771 non-null  int64
 11  clicked                 442771 non-null  int64
 12  document_id_y           442771 non-null  int64
 13  campaign_id             442771 non-null  int64
 14  advertiser_id           442771 non-null  int64
 15  converted_timestamp     442771 non-null  object
 16  timestamp_year          442771 non-null  int64
 17  timestamp_month         442771 non-null  int64
 18  timestamp_day           442771 non-null  int64
 19  timestamp_hour          442771 non-null  int64
 20  timestamp_minute        442771 non-null  int64
 21  timestamp_dayofweek     442771 non-null  int64
 22  the_publish_time        377672 non-null  object
 23  publish_time_year       377672 non-null  float64
 24  publish_time_month      377672 non-null  float64
 25  publish_time_day        377672 non-null  float64
 26  publish_time_hour       377672 non-null  float64
 27  publish_time_minute     377672 non-null  float64
 28  publish_time_dayofweek  377672 non-null  float64
dtypes: float64(8), int64(16), object(5)
memory usage: 98.0+ MB

In [6]:
df.dropna()

,Unnamed: 0,display_id,uuid,document_id_x,timestamp,platform,geo_location,source_id,publisher_id,publish_time,...,timestamp_hour,timestamp_minute,timestamp_dayofweek,the_publish_time,publish_time_year,publish_time_month,publish_time_day,publish_time_hour,publish_time_minute,publish_time_dayofweek
0,0,34922,6288e67b1d54c6,1794259,2600122,2,US>TX>623,93.0,407.0,2016-06-14 00:00:00,...,4,43,1,2016-06-14 00:00:00.000,2016.0,6.0,14.0,0.0,0.0,1.0
1,1,3982567,f90db73a75332d,1060089,253476258,1,US>VA>544,7744.0,1204.0,2016-01-23 01:00:00,...,2,24,4,2016-01-23 01:00:00.000,2016.0,1.0,23.0,1.0,0.0,5.0
2,2,7604922,9853a49f80e2f8,1303771,520980585,2,US>MO>616,12705.0,1044.0,2016-04-14 20:00:00,...,4,43,0,2016-04-14 20:00:00.000,2016.0,4.0,14.0,20.0,0.0,3.0
3,3,1439583,e4d4a17cf8c7e6,1667632,86010864,2,US>WA>819,7267.0,58.0,2016-06-08 00:00:00,...,3,53,2,2016-06-08 00:00:00.000,2016.0,6.0,8.0,0.0,0.0,2.0
4,4,3522033,4789ccff327551,1601704,228163963,2,US,12705.0,1044.0,2016-06-03 17:00:00,...,19,22,3,2016-06-03 17:00:00.000,2016.0,6.0,3.0,17.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442766,442766,9762385,36885fefb74770,2401336,657348844,2,US>CA>803,10517.0,240.0,2016-06-21 11:00:00,...,18,35,1,2016-06-21 11:00:00.000,2016.0,6.0,21.0,11.0,0.0,1.0
442767,442767,9829782,81c06904ae3666,2407625,660535091,2,US>NJ>501,553.0,180.0,2016-06-21 12:00:00,...,19,28,1,2016-06-21 12:00:00.000,2016.0,6.0,21.0,12.0,0.0,1.0
442768,442768,11723724,529cec290ebd2a,2380972,776011771,2,US>UT>770,6868.0,41.0,2016-06-21 07:00:00,...,3,33,3,2016-06-21 07:00:00.000,2016.0,6.0,21.0,7.0,0.0,1.0
442769,442769,11200483,cd1ca2d989c964,2417372,746141033,2,US>IL>602,3086.0,240.0,2016-06-21 02:00:00,...,19,15,2,2016-06-21 02:00:00.000,2016.0,6.0,21.0,2.0,0.0,1.0
442770,442770,11458568,cb94e425c572c7,2422518,759633896,2,US>CA>825,1570.0,78.0,2016-06-21 15:00:00,...,23,0,2,2016-06-21 15:00:00.000,2016.0,6.0,21.0,15.0,0.0,1.0

In [7]:
df.describe()

,Unnamed: 0,display_id,document_id_x,timestamp,platform,source_id,publisher_id,ad_id,clicked,document_id_y,...,timestamp_day,timestamp_hour,timestamp_minute,timestamp_dayofweek,publish_time_year,publish_time_month,publish_time_day,publish_time_hour,publish_time_minute,publish_time_dayofweek
count,442771.000000,4.427710e+05,4.427710e+05,4.427710e+05,442771.000000,442765.000000,442765.000000,442771.000000,442771.000000,4.427710e+05,...,442771.000000,442771.000000,442771.000000,442771.000000,377672.000000,377672.000000,377672.000000,377672.000000,377672.0,377672.000000
mean,221385.000000,8.436926e+06,1.648106e+06,5.619907e+08,1.719300,5646.586203,622.466649,178064.220193,0.193204,1.205247e+06,...,20.129708,12.493727,29.608904,3.078296,2015.672819,5.636330,16.852899,8.725767,0.0,2.498967
std,127817.122357,4.880457e+06,7.038380e+05,3.252287e+08,0.704486,3464.161264,384.711447,111778.059672,0.394812,4.017652e+05,...,3.777878,7.050309,17.264577,1.884849,1.180802,1.996661,6.538604,7.649080,0.0,1.737273
min,0.000000,2.000000e+01,1.200000e+01,1.282000e+03,1.000000,1.000000,3.000000,77.000000,0.000000,5.720000e+03,...,14.000000,0.000000,0.000000,0.000000,1926.000000,1.000000,1.000000,0.000000,0.0,0.000000
25%,110692.500000,4.177464e+06,1.175507e+06,2.683422e+08,1.000000,2178.000000,240.000000,95590.000000,0.000000,9.721760e+05,...,17.000000,6.000000,15.000000,2.000000,2016.000000,5.000000,14.000000,0.000000,0.0,1.000000
50%,221385.000000,8.452569e+06,1.758307e+06,5.749788e+08,2.000000,6333.000000,696.000000,162024.000000,0.000000,1.171771e+06,...,20.000000,14.000000,30.000000,3.000000,2016.000000,6.000000,17.000000,10.000000,0.0,2.000000
75%,332077.500000,1.266319e+07,2.188919e+06,8.369539e+08,2.000000,7736.000000,1015.000000,232527.000000,0.000000,1.444067e+06,...,23.000000,18.000000,45.000000,5.000000,2016.000000,6.000000,22.000000,15.000000,0.0,4.000000
max,442770.000000,1.687456e+07,2.825774e+06,1.123197e+09,3.000000,14403.000000,1252.000000,547216.000000,1.000000,2.813672e+06,...,27.000000,23.000000,59.000000,6.000000,2099.000000,12.000000,31.000000,23.000000,0.0,6.000000

In [9]:
df.columns

Index(['Unnamed: 0', 'display_id', 'uuid', 'document_id_x', 'timestamp',
       'platform', 'geo_location', 'source_id', 'publisher_id', 'publish_time',
       'ad_id', 'clicked', 'document_id_y', 'campaign_id', 'advertiser_id',
       'converted_timestamp', 'timestamp_year', 'timestamp_month',
       'timestamp_day', 'timestamp_hour', 'timestamp_minute',
       'timestamp_dayofweek', 'the_publish_time', 'publish_time_year',
       'publish_time_month', 'publish_time_day', 'publish_time_hour',
       'publish_time_minute', 'publish_time_dayofweek'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442771 entries, 0 to 442770
Data columns (total 29 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              442771 non-null  int64
 1   display_id              442771 non-null  int64
 2   uuid                    442771 non-null  object
 3   document_id_x           442771 non-null  int64
 4   timestamp               442771 non-null  int64
 5   platform                442771 non-null  int64
 6   geo_location            442764 non-null  object
 7   source_id               442765 non-null  float64
 8   publisher_id            442765 non-null  float64
 9   publish_time            377774 non-null  object
 10  ad_id                   442771 non-null  int64
 11  clicked                 442771 non-null  int64
 12  document_id_y           442771 non-null  int64
 13  campaign_id             442771 non-null  int64
 14  advertiser_id           442771 non-null  int64
 15  converted_timestamp     442771 non-null  object
 16  timestamp_year          442771 non-null  int64
 17  timestamp_month         442771 non-null  int64
 18  timestamp_day           442771 non-null  int64
 19  timestamp_hour          442771 non-null  int64
 20  timestamp_minute        442771 non-null  int64
 21  timestamp_dayofweek     442771 non-null  int64
 22  the_publish_time        377672 non-null  object
 23  publish_time_year       377672 non-null  float64
 24  publish_time_month      377672 non-null  float64
 25  publish_time_day        377672 non-null  float64
 26  publish_time_hour       377672 non-null  float64
 27  publish_time_minute     377672 non-null  float64
 28  publish_time_dayofweek  377672 non-null  float64
dtypes: float64(8), int64(16), object(5)
memory usage: 98.0+ MB

In [12]:
# We need to use a package from sklearn
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder().fit_transform(df['clicked'])
le

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [13]:
df.loc[:,'clicked'] = le
df.head()

,Unnamed: 0,display_id,uuid,document_id_x,timestamp,platform,geo_location,source_id,publisher_id,publish_time,...,timestamp_hour,timestamp_minute,timestamp_dayofweek,the_publish_time,publish_time_year,publish_time_month,publish_time_day,publish_time_hour,publish_time_minute,publish_time_dayofweek
0,0,34922,6288e67b1d54c6,1794259,2600122,2,US>TX>623,93.0,407.0,2016-06-14 00:00:00,...,4,43,1,2016-06-14 00:00:00.000,2016.0,6.0,14.0,0.0,0.0,1.0
1,1,3982567,f90db73a75332d,1060089,253476258,1,US>VA>544,7744.0,1204.0,2016-01-23 01:00:00,...,2,24,4,2016-01-23 01:00:00.000,2016.0,1.0,23.0,1.0,0.0,5.0
2,2,7604922,9853a49f80e2f8,1303771,520980585,2,US>MO>616,12705.0,1044.0,2016-04-14 20:00:00,...,4,43,0,2016-04-14 20:00:00.000,2016.0,4.0,14.0,20.0,0.0,3.0
3,3,1439583,e4d4a17cf8c7e6,1667632,86010864,2,US>WA>819,7267.0,58.0,2016-06-08 00:00:00,...,3,53,2,2016-06-08 00:00:00.000,2016.0,6.0,8.0,0.0,0.0,2.0
4,4,3522033,4789ccff327551,1601704,228163963,2,US,12705.0,1044.0,2016-06-03 17:00:00,...,19,22,3,2016-06-03 17:00:00.000,2016.0,6.0,3.0,17.0,0.0,4.0

In [14]:
train, test = statsmodels_train_test_split(df)

In [15]:
df.clicked.value_counts()

0    357226
1     85545
Name: clicked, dtype: int64

In [16]:
formula = 'clicked ~ C(platform) + C(timestamp_day)'

In [17]:
model = smf.logit(formula=formula, data=train, missing='drop').fit()
model.summary()

Optimization terminated successfully.
         Current function value: 0.489671
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                clicked   No. Observations:               332078
Model:                          Logit   Df Residuals:                   332062
Method:                           MLE   Df Model:                           15
Date:                Thu, 24 Sep 2020   Pseudo R-squ.:                0.003901
Time:                        17:31:04   Log-Likelihood:            -1.6261e+05
converged:                       True   LL-Null:                   -1.6325e+05
Covariance Type:            nonrobust   LLR p-value:                2.573e-262
==========================================================================================
                             coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -1.5650      0.017    -90.593      0.000      -1.599      -1.531
C(platform)[T.2]           0.3156      0.010     33.058      0.000       0.297       0.334
C(platform)[T.3]           0.0164      0.014      1.184      0.237      -0.011       0.044
C(timestamp_day)[T.15]    -0.0092      0.023     -0.403      0.687      -0.054       0.035
C(timestamp_day)[T.16]    -0.0375      0.023     -1.642      0.101      -0.082       0.007
C(timestamp_day)[T.17]    -0.0226      0.023     -0.985      0.325      -0.068       0.022
C(timestamp_day)[T.18]    -0.0011      0.024     -0.046      0.963      -0.048       0.045
C(timestamp_day)[T.19]    -0.0023      0.024     -0.096      0.923      -0.050       0.045
C(timestamp_day)[T.20]     0.0179      0.022      0.798      0.425      -0.026       0.062
C(timestamp_day)[T.21]    -0.0108      0.023     -0.475      0.635      -0.055       0.034
C(timestamp_day)[T.22]    -0.0202      0.023     -0.894      0.371      -0.064       0.024
C(timestamp_day)[T.23]    -0.0067      0.023     -0.296      0.767      -0.051       0.038
C(timestamp_day)[T.24]     0.0158      0.023      0.697      0.486      -0.029       0.060
C(timestamp_day)[T.25]    -0.0038      0.023     -0.164      0.870      -0.050       0.042
C(timestamp_day)[T.26]     0.0315      0.023      1.364      0.172      -0.014       0.077
C(timestamp_day)[T.27]    -0.0772      0.041     -1.868      0.062      -0.158       0.004
==========================================================================================
"""

In [22]:
df.groupby('ad_id').sum()['clicked'].sort_values(ascending=False)

ad_id
175214    505
173130    473
303990    457
3314      427
92759     424
         ...
222416      0
222245      0
221672      0
221181      0
77          0
Name: clicked, Length: 7263, dtype: int64

In [23]:
df.groupby('ad_id').sum()['clicked'].sort_values(ascending=False)[0:10]

ad_id
175214    505
173130    473
303990    457
3314      427
92759     424
130952    421
184220    398
84109     396
228959    372
26711     369
Name: clicked, dtype: int64

In [18]:
df['top10_ad_id'] = df['ad_id'] in list(df.groupby('ad_id').sum()['clicked'].sort_values(ascending=False)[0:10])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [19]:
df['top10_ad_id'] = df['ad_id'] in list ([175214])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [22]:
top10adid = list(df.groupby('ad_id').sum()['clicked'].sort_values(ascending=False)[0:10])

In [23]:
df['ad_id'].apply(lambda s: s in top10adid)

0         False
1         False
2         False
3         False
4         False
          ...
442766    False
442767    False
442768    False
442769    False
442770    False
Name: ad_id, Length: 442771, dtype: bool

In [26]:
df['top10ad_id'] = df['ad_id'].apply(lambda s: s in top10adid).astype(int)
df

,Unnamed: 0,display_id,uuid,document_id_x,timestamp,platform,geo_location,source_id,publisher_id,publish_time,...,timestamp_minute,timestamp_dayofweek,the_publish_time,publish_time_year,publish_time_month,publish_time_day,publish_time_hour,publish_time_minute,publish_time_dayofweek,top10ad_id
0,0,34922,6288e67b1d54c6,1794259,2600122,2,US>TX>623,93.0,407.0,2016-06-14 00:00:00,...,43,1,2016-06-14 00:00:00.000,2016.0,6.0,14.0,0.0,0.0,1.0,0
1,1,3982567,f90db73a75332d,1060089,253476258,1,US>VA>544,7744.0,1204.0,2016-01-23 01:00:00,...,24,4,2016-01-23 01:00:00.000,2016.0,1.0,23.0,1.0,0.0,5.0,0
2,2,7604922,9853a49f80e2f8,1303771,520980585,2,US>MO>616,12705.0,1044.0,2016-04-14 20:00:00,...,43,0,2016-04-14 20:00:00.000,2016.0,4.0,14.0,20.0,0.0,3.0,0
3,3,1439583,e4d4a17cf8c7e6,1667632,86010864,2,US>WA>819,7267.0,58.0,2016-06-08 00:00:00,...,53,2,2016-06-08 00:00:00.000,2016.0,6.0,8.0,0.0,0.0,2.0,0
4,4,3522033,4789ccff327551,1601704,228163963,2,US,12705.0,1044.0,2016-06-03 17:00:00,...,22,3,2016-06-03 17:00:00.000,2016.0,6.0,3.0,17.0,0.0,4.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442766,442766,9762385,36885fefb74770,2401336,657348844,2,US>CA>803,10517.0,240.0,2016-06-21 11:00:00,...,35,1,2016-06-21 11:00:00.000,2016.0,6.0,21.0,11.0,0.0,1.0,0
442767,442767,9829782,81c06904ae3666,2407625,660535091,2,US>NJ>501,553.0,180.0,2016-06-21 12:00:00,...,28,1,2016-06-21 12:00:00.000,2016.0,6.0,21.0,12.0,0.0,1.0,0
442768,442768,11723724,529cec290ebd2a,2380972,776011771,2,US>UT>770,6868.0,41.0,2016-06-21 07:00:00,...,33,3,2016-06-21 07:00:00.000,2016.0,6.0,21.0,7.0,0.0,1.0,0
442769,442769,11200483,cd1ca2d989c964,2417372,746141033,2,US>IL>602,3086.0,240.0,2016-06-21 02:00:00,...,15,2,2016-06-21 02:00:00.000,2016.0,6.0,21.0,2.0,0.0,1.0,0
442770,442770,11458568,cb94e425c572c7,2422518,759633896,2,US>CA>825,1570.0,78.0,2016-06-21 15:00:00,...,0,2,2016-06-21 15:00:00.000,2016.0,6.0,21.0,15.0,0.0,1.0,0

In [31]:
df['geo_location'].apply(lambda s: fxn(s))

NameError: name 'fxn' is not defined

In [30]:
df['geo_location'].apply(lambda s: split('>')[1])

NameError: name 'split' is not defined

In [4]:
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442771 entries, 0 to 442770
Data columns (total 29 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              442771 non-null  int64
 1   display_id              442771 non-null  int64
 2   uuid                    442771 non-null  object
 3   document_id_x           442771 non-null  int64
 4   timestamp               442771 non-null  int64
 5   platform                442771 non-null  int64
 6   geo_location            442764 non-null  object
 7   source_id               442765 non-null  float64
 8   publisher_id            442765 non-null  float64
 9   publish_time            377774 non-null  object
 10  ad_id                   442771 non-null  int64
 11  clicked                 442771 non-null  int64
 12  document_id_y           442771 non-null  int64
 13  campaign_id             442771 non-null  int64
 14  advertiser_id           442771 non-null  int64
 15  converted_timestamp     442771 non-null  object
 16  timestamp_year          442771 non-null  int64
 17  timestamp_month         442771 non-null  int64
 18  timestamp_day           442771 non-null  int64
 19  timestamp_hour          442771 non-null  int64
 20  timestamp_minute        442771 non-null  int64
 21  timestamp_dayofweek     442771 non-null  int64
 22  the_publish_time        377672 non-null  object
 23  publish_time_year       377672 non-null  float64
 24  publish_time_month      377672 non-null  float64
 25  publish_time_day        377672 non-null  float64
 26  publish_time_hour       377672 non-null  float64
 27  publish_time_minute     377672 non-null  float64
 28  publish_time_dayofweek  377672 non-null  float64
dtypes: float64(8), int64(16), object(5)
memory usage: 98.0+ MB

In [6]:
train.head()

,display_id,uuid,document_id_x,timestamp,platform,geo_location,source_id,publisher_id,publish_time,ad_id,...,timestamp_minute,timestamp_dayofweek,the_publish_time,publish_time_year,publish_time_month,publish_time_day,publish_time_hour,publish_time_minute,publish_time_dayofweek,Unnamed: 0
79444,5298356,61a8249b8b679a,879466,343030874,2,FR>A8,1032.0,1025.0,2015-03-23 06:00:00,184373,...,17,5,2015-03-23 06:00:00.000,2015.0,3.0,23.0,6.0,0.0,0.0,79444
105093,8015122,9446da29d5107f,1179111,554988333,2,PL>86,7369.0,867.0,NaN,75862,...,9,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105093
429883,7762059,7bd12a1cccc36d,1256566,538406774,3,US>OH>515,7736.0,450.0,2016-07-13 00:00:00,304040,...,33,0,2016-07-13 00:00:00.000,2016.0,7.0,13.0,0.0,0.0,2.0,429883
146418,12326500,17ddaefd987760,2222341,821094465,1,US>MO>609,8610.0,1142.0,2016-06-18 09:00:00,8744,...,4,3,2016-06-18 09:00:00.000,2016.0,6.0,18.0,9.0,0.0,5.0,146418
274420,7375237,fd1dac0bcb7757,2250389,506078848,3,US>WV>598,105.0,206.0,2016-06-19 16:00:00,60034,...,34,0,2016-06-19 16:00:00.000,2016.0,6.0,19.0,16.0,0.0,6.0,274420

In [7]:
test.head()

,display_id,uuid,document_id_x,timestamp,platform,geo_location,source_id,publisher_id,publish_time,ad_id,...,timestamp_minute,timestamp_dayofweek,the_publish_time,publish_time_year,publish_time_month,publish_time_day,publish_time_hour,publish_time_minute,publish_time_dayofweek,Unnamed: 0
195185,15891990,b4b0abf8c536a5,1379970,1064264527,2,US>CA>807,10030.0,1089.0,2016-04-14 00:00:00,95112,...,37,6,2016-04-14 00:00:00.000,2016.0,4.0,14.0,0.0,0.0,3.0,195185
306408,10568440,6e43b805ae965a,2344581,712759599,3,US>WI>658,11733.0,828.0,2016-06-20 18:00:00,276173,...,59,2,2016-06-20 18:00:00.000,2016.0,6.0,20.0,18.0,0.0,0.0,306408
35029,149439,48da27ed54353e,1760989,15088201,2,US>MI>505,18.0,1050.0,2016-06-13 11:00:00,93303,...,11,1,2016-06-13 11:00:00.000,2016.0,6.0,13.0,11.0,0.0,0.0,35029
220772,16048320,b73a0701478be7,895645,1073317737,1,US>NY>501,7132.0,850.0,NaN,153383,...,8,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220772
57409,13927407,3f4ed5e1cb2b32,1827718,917698505,1,US>NH>506,9874.0,1228.0,2016-06-14 18:00:00,89630,...,54,4,2016-06-14 18:00:00.000,2016.0,6.0,14.0,18.0,0.0,1.0,57409

In [8]:
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442771 entries, 0 to 442770
Data columns (total 29 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              442771 non-null  int64
 1   display_id              442771 non-null  int64
 2   uuid                    442771 non-null  object
 3   document_id_x           442771 non-null  int64
 4   timestamp               442771 non-null  int64
 5   platform                442771 non-null  int64
 6   geo_location            442764 non-null  object
 7   source_id               442765 non-null  float64
 8   publisher_id            442765 non-null  float64
 9   publish_time            377774 non-null  object
 10  ad_id                   442771 non-null  int64
 11  clicked                 442771 non-null  int64
 12  document_id_y           442771 non-null  int64
 13  campaign_id             442771 non-null  int64
 14  advertiser_id           442771 non-null  int64
 15  converted_timestamp     442771 non-null  object
 16  timestamp_year          442771 non-null  int64
 17  timestamp_month         442771 non-null  int64
 18  timestamp_day           442771 non-null  int64
 19  timestamp_hour          442771 non-null  int64
 20  timestamp_minute        442771 non-null  int64
 21  timestamp_dayofweek     442771 non-null  int64
 22  the_publish_time        377672 non-null  object
 23  publish_time_year       377672 non-null  float64
 24  publish_time_month      377672 non-null  float64
 25  publish_time_day        377672 non-null  float64
 26  publish_time_hour       377672 non-null  float64
 27  publish_time_minute     377672 non-null  float64
 28  publish_time_dayofweek  377672 non-null  float64
dtypes: float64(8), int64(16), object(5)
memory usage: 98.0+ MB

In [18]:
formula = 'clicked ~ C(platform) + C(ad_id)'
model = smf.logit(formula = formula, data=train).fit()
model.summary()

MemoryError: Unable to allocate 17.2 GiB for an array with shape (332078, 6947) and data type float64

In [12]:
formula = 'clicked ~ C(platform) + C(timestamp_day)'
model = smf.logit(formula = formula, data=train).fit()
model.summary()

Optimization terminated successfully.
         Current function value: 0.488528
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                clicked   No. Observations:               332078
Model:                          Logit   Df Residuals:                   332062
Method:                           MLE   Df Model:                           15
Date:                Thu, 24 Sep 2020   Pseudo R-squ.:                0.004048
Time:                        13:06:16   Log-Likelihood:            -1.6223e+05
converged:                       True   LL-Null:                   -1.6289e+05
Covariance Type:            nonrobust   LLR p-value:                5.235e-272
==========================================================================================
                             coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -1.5713      0.017    -90.729      0.000      -1.605      -1.537
C(platform)[T.2]           0.3197      0.010     33.451      0.000       0.301       0.338
C(platform)[T.3]           0.0132      0.014      0.948      0.343      -0.014       0.040
C(timestamp_day)[T.15]    -0.0151      0.023     -0.662      0.508      -0.060       0.030
C(timestamp_day)[T.16]    -0.0524      0.023     -2.285      0.022      -0.097      -0.007
C(timestamp_day)[T.17]    -0.0183      0.023     -0.796      0.426      -0.063       0.027
C(timestamp_day)[T.18]    -0.0025      0.024     -0.104      0.917      -0.049       0.044
C(timestamp_day)[T.19]    -0.0047      0.024     -0.196      0.845      -0.052       0.043
C(timestamp_day)[T.20]     0.0124      0.023      0.551      0.582      -0.032       0.057
C(timestamp_day)[T.21]    -0.0250      0.023     -1.098      0.272      -0.070       0.020
C(timestamp_day)[T.22]    -0.0163      0.023     -0.721      0.471      -0.061       0.028
C(timestamp_day)[T.23]     0.0158      0.023      0.701      0.483      -0.028       0.060
C(timestamp_day)[T.24]     0.0106      0.023      0.467      0.641      -0.034       0.055
C(timestamp_day)[T.25]     0.0071      0.023      0.305      0.761      -0.039       0.053
C(timestamp_day)[T.26]     0.0358      0.023      1.551      0.121      -0.009       0.081
C(timestamp_day)[T.27]    -0.0742      0.041     -1.797      0.072      -0.155       0.007
==========================================================================================
"""

In [13]:
y_pred_test = model.predict(test)
y_pred_test

195185    0.228693
306408    0.171593
35029     0.222437
220772    0.177198
57409     0.173551
            ...
268479    0.171311
337847    0.169446
403372    0.219630
134596    0.228693
143373    0.171683
Length: 110693, dtype: float64

In [14]:
predictions = np.round(y_pred_test)

In [15]:
predictions

195185    0.0
306408    0.0
35029     0.0
220772    0.0
57409     0.0
         ...
268479    0.0
337847    0.0
403372    0.0
134596    0.0
143373    0.0
Length: 110693, dtype: float64

In [16]:
confusion_matrix(test['clicked'], predictions)

array([[89232,     0],
       [21461,     0]], dtype=int64)

In [ ]:
# this is equivalent to 
#formula = 'species ~ C(island) + bill_length_mm + bill_depth_mm + flipper_length_mm + body_mass_g  + C(sex)'

y, X = penguins.species, penguins.drop(columns='species')
X = pd.get_dummies(X, drop_first=True)