In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import sklearn.metrics
from sklearn.metrics import confusion_matrix, accuracy_score, r2_score
from sklearn.model_selection import train_test_split

In [14]:
def statsmodels_train_test_split(df, stratify=None, **kwargs):

    if stratify is None:
        y, X = df.iloc[:,0], df.drop(columns=df.columns[0])
        X_train, X_test, y_train, y_test = train_test_split(X,y, **kwargs)
    else:
        y, X = stratify, df.drop(columns = stratify.name)
        X_train, X_test, y_train, y_test = train_test_split(X,y,stratify=y, **kwargs)
    
    return pd.concat([X_train, y_train], axis=1), pd.concat([X_test, y_test], axis=1)

Import and read CSV files

In [15]:
df = pd.read_csv('C:\\Users\\Rose\\Desktop\\Capstone4\\smalldf.csv')
dftest = pd.read_csv('C:\\Users\\Rose\\Desktop\\Capstone4\\smalldf.csv')

In [16]:
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442771 entries, 0 to 442770
Data columns (total 29 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              442771 non-null  int64
 1   display_id              442771 non-null  int64
 2   uuid                    442771 non-null  object
 3   document_id_x           442771 non-null  int64
 4   timestamp               442771 non-null  int64
 5   platform                442771 non-null  int64
 6   geo_location            442764 non-null  object
 7   source_id               442765 non-null  float64
 8   publisher_id            442765 non-null  float64
 9   publish_time            377774 non-null  object
 10  ad_id                   442771 non-null  int64
 11  clicked                 442771 non-null  int64
 12  document_id_y           442771 non-null  int64
 13  campaign_id             442771 non-null  int64
 14  advertiser_id           442771 non-null  int64
 15  converted_timestamp     442771 non-null  object
 16  timestamp_year          442771 non-null  int64
 17  timestamp_month         442771 non-null  int64
 18  timestamp_day           442771 non-null  int64
 19  timestamp_hour          442771 non-null  int64
 20  timestamp_minute        442771 non-null  int64
 21  timestamp_dayofweek     442771 non-null  int64
 22  the_publish_time        377672 non-null  object
 23  publish_time_year       377672 non-null  float64
 24  publish_time_month      377672 non-null  float64
 25  publish_time_day        377672 non-null  float64
 26  publish_time_hour       377672 non-null  float64
 27  publish_time_minute     377672 non-null  float64
 28  publish_time_dayofweek  377672 non-null  float64
dtypes: float64(8), int64(16), object(5)
memory usage: 98.0+ MB

In [ ]:
formula = 'total_bill ~ tip + C(sex) +C(smoker) + C(day) + C(time) + size'

In [17]:
train, test = statsmodels_train_test_split(dftest)

In [18]:
train.head()

,display_id,uuid,document_id_x,timestamp,platform,geo_location,source_id,publisher_id,publish_time,ad_id,...,timestamp_minute,timestamp_dayofweek,the_publish_time,publish_time_year,publish_time_month,publish_time_day,publish_time_hour,publish_time_minute,publish_time_dayofweek,Unnamed: 0
86824,4687458,b087d38f287b97,1979733,305627509,3,US>MT>755,57.0,31.0,2016-06-16 00:00:00,153318,...,53,4,2016-06-16 00:00:00.000,2016.0,6.0,16.0,0.0,0.0,3.0,86824
193002,11541997,7448d77564d77e,1293187,764815162,2,US,7736.0,450.0,2016-07-09 00:00:00,160763,...,26,3,2016-07-09 00:00:00.000,2016.0,7.0,9.0,0.0,0.0,5.0,193002
248387,9406404,390758ca39423f,2389896,639470997,1,US>PA>508,5782.0,1084.0,2016-06-21 09:00:00,473973,...,37,1,2016-06-21 09:00:00.000,2016.0,6.0,21.0,9.0,0.0,1.0,248387
360045,11436937,e03806c6d2fdbc,2506892,758353954,2,US>FL>528,2192.0,3.0,2016-06-22 13:00:00,201649,...,39,2,2016-06-22 13:00:00.000,2016.0,6.0,22.0,13.0,0.0,2.0,360045
88935,9365545,ceaa85877444ff,2335605,637301698,2,GB>N4,7267.0,58.0,2016-06-20 00:00:00,145627,...,1,1,2016-06-20 00:00:00.000,2016.0,6.0,20.0,0.0,0.0,0.0,88935

In [19]:
test.head()

,display_id,uuid,document_id_x,timestamp,platform,geo_location,source_id,publisher_id,publish_time,ad_id,...,timestamp_minute,timestamp_dayofweek,the_publish_time,publish_time_year,publish_time_month,publish_time_day,publish_time_hour,publish_time_minute,publish_time_dayofweek,Unnamed: 0
172391,10074730,b133e20e6683f6,2318799,672867875,2,US>MA>506,2596.0,418.0,2016-06-20 14:00:00,492731,...,54,1,2016-06-20 14:00:00.000,2016.0,6.0,20.0,14.0,0.0,0.0,172391
88521,5591335,458d6a07608a27,329209,373031484,2,AT,3003.0,26.0,NaN,66830,...,37,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88521
46558,1491746,5a5b86b7b5381a,490058,90331660,2,US>NC>560,5792.0,704.0,2015-02-05 15:00:00,242570,...,5,2,2015-02-05 15:00:00.000,2015.0,2.0,5.0,15.0,0.0,3.0,46558
331526,6502310,203aa13f5a07cd,2201473,436741104,1,US>CA>807,6914.0,56.0,2016-06-18 00:00:00,28270,...,19,6,2016-06-18 00:00:00.000,2016.0,6.0,18.0,0.0,0.0,5.0,331526
24632,11883368,4819ce038176bf,475750,792375316,1,AU>02,5604.0,830.0,2016-03-04 00:00:00,279383,...,6,3,2016-03-04 00:00:00.000,2016.0,3.0,4.0,0.0,0.0,4.0,24632

In [20]:
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442771 entries, 0 to 442770
Data columns (total 29 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              442771 non-null  int64
 1   display_id              442771 non-null  int64
 2   uuid                    442771 non-null  object
 3   document_id_x           442771 non-null  int64
 4   timestamp               442771 non-null  int64
 5   platform                442771 non-null  int64
 6   geo_location            442764 non-null  object
 7   source_id               442765 non-null  float64
 8   publisher_id            442765 non-null  float64
 9   publish_time            377774 non-null  object
 10  ad_id                   442771 non-null  int64
 11  clicked                 442771 non-null  int64
 12  document_id_y           442771 non-null  int64
 13  campaign_id             442771 non-null  int64
 14  advertiser_id           442771 non-null  int64
 15  converted_timestamp     442771 non-null  object
 16  timestamp_year          442771 non-null  int64
 17  timestamp_month         442771 non-null  int64
 18  timestamp_day           442771 non-null  int64
 19  timestamp_hour          442771 non-null  int64
 20  timestamp_minute        442771 non-null  int64
 21  timestamp_dayofweek     442771 non-null  int64
 22  the_publish_time        377672 non-null  object
 23  publish_time_year       377672 non-null  float64
 24  publish_time_month      377672 non-null  float64
 25  publish_time_day        377672 non-null  float64
 26  publish_time_hour       377672 non-null  float64
 27  publish_time_minute     377672 non-null  float64
 28  publish_time_dayofweek  377672 non-null  float64
dtypes: float64(8), int64(16), object(5)
memory usage: 98.0+ MB

In [23]:
formula = 'clicked ~ C(platform) + C(timestamp_day) + C(timestamp_hour)'
model = smf.logit(formula = formula, data=train).fit()
model.summary()

Optimization terminated successfully.
         Current function value: 0.488724
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                clicked   No. Observations:               332078
Model:                          Logit   Df Residuals:                   332039
Method:                           MLE   Df Model:                           38
Date:                Thu, 24 Sep 2020   Pseudo R-squ.:                0.003919
Time:                        11:55:08   Log-Likelihood:            -1.6229e+05
converged:                       True   LL-Null:                   -1.6293e+05
Covariance Type:            nonrobust   LLR p-value:                2.362e-243
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                  -1.5648      0.028    -55.544      0.000      -1.620      -1.510
C(platform)[T.2]            0.3129      0.010     32.344      0.000       0.294       0.332
C(platform)[T.3]            0.0168      0.014      1.201      0.230      -0.011       0.044
C(timestamp_day)[T.15]      0.0144      0.023      0.627      0.530      -0.031       0.059
C(timestamp_day)[T.16]     -0.0499      0.023     -2.161      0.031      -0.095      -0.005
C(timestamp_day)[T.17]     -0.0068      0.023     -0.293      0.769      -0.052       0.039
C(timestamp_day)[T.18]      0.0031      0.024      0.128      0.898      -0.044       0.050
C(timestamp_day)[T.19]      0.0021      0.024      0.087      0.930      -0.045       0.050
C(timestamp_day)[T.20]      0.0052      0.023      0.231      0.817      -0.039       0.050
C(timestamp_day)[T.21]     -0.0132      0.023     -0.578      0.563      -0.058       0.032
C(timestamp_day)[T.22]     -0.0212      0.023     -0.932      0.351      -0.066       0.023
C(timestamp_day)[T.23]     -0.0043      0.023     -0.189      0.850      -0.049       0.040
C(timestamp_day)[T.24]     -0.0003      0.023     -0.012      0.990      -0.045       0.045
C(timestamp_day)[T.25]      0.0016      0.024      0.070      0.944      -0.045       0.048
C(timestamp_day)[T.26]      0.0198      0.023      0.849      0.396      -0.026       0.065
C(timestamp_day)[T.27]     -0.0971      0.043     -2.248      0.025      -0.182      -0.012
C(timestamp_hour)[T.1]     -0.0102      0.030     -0.341      0.733      -0.069       0.048
C(timestamp_hour)[T.2]     -0.0024      0.030     -0.083      0.934      -0.060       0.055
C(timestamp_hour)[T.3]      0.0300      0.030      0.996      0.319      -0.029       0.089
C(timestamp_hour)[T.4]     -0.0668      0.032     -2.079      0.038      -0.130      -0.004
C(timestamp_hour)[T.5]     -0.0311      0.034     -0.917      0.359      -0.097       0.035
C(timestamp_hour)[T.6]     -0.0490      0.035     -1.383      0.167      -0.118       0.020
C(timestamp_hour)[T.7]     -0.0788      0.038     -2.097      0.036      -0.152      -0.005
C(timestamp_hour)[T.8]      0.0059      0.036      0.163      0.870      -0.065       0.077
C(timestamp_hour)[T.9]     -0.0257      0.036     -0.707      0.480      -0.097       0.046
C(timestamp_hour)[T.10]     0.0642      0.033      1.937      0.053      -0.001       0.129
C(timestamp_hour)[T.11]     0.0514      0.031      1.673      0.094      -0.009       0.112
C(timestamp_hour)[T.12]     0.0096      0.030      0.323      0.746      -0.049       0.068
C(timestamp_hour)[T.13]    -0.0090      0.029     -0.310      0.757      -0.066       0.048
C(timestamp_hour)[T.14]     0.0086      0.029      0.300      0.764      -0.048       0.065
C(timestamp_hour)[T.15]     0.0192      0.029      0.668      0.504      -0.037       0.076
C(timestamp_hour)[T.16]    -0.0006      0.029     -0.020      0.984      -0.057       0.056
C(timestamp_hour)[T.17]     0.0124      0.029      0.431      0.667      -0.044       0.069
C(timestamp_hour)[T.18]    -0.0099      0.029     -0.339      0.735      -0.067       0.047
C(timestamp_hour)[T.19]    -0.0162      0.029     -0.560      0.576      -0.073       0.041
C(timestamp_hour)[T.20]    -0.0258      0.029     -0.893      0.372      -0.082       0.031
C(timestamp_hour)[T.21]     0.0201      0.029      0.693      0.488      -0.037       0.077
C(timestamp_hour)[T.22]    -0.0089      0.030     -0.298      0.766      -0.067       0.050
C(timestamp_hour)[T.23]    -0.0117      0.030     -0.389      0.697      -0.071       0.047
===========================================================================================
"""

In [24]:
y_pred_test = model.predict(test)
y_pred_test

172391    0.218583
88521     0.231942
46558     0.219512
331526    0.168864
24632     0.173199
            ...
386621    0.174165
385960    0.174512
18206     0.221341
44523     0.176100
351487    0.215979
Length: 110693, dtype: float64

In [25]:
predictions = np.round(y_pred_test)

In [26]:
predictions

172391    0.0
88521     0.0
46558     0.0
331526    0.0
24632     0.0
         ...
386621    0.0
385960    0.0
18206     0.0
44523     0.0
351487    0.0
Length: 110693, dtype: float64

In [27]:
confusion_matrix(test['clicked'], predictions)

array([[89263,     0],
       [21430,     0]], dtype=int64)

In [ ]:
# this is equivalent to 
#formula = 'species ~ C(island) + bill_length_mm + bill_depth_mm + flipper_length_mm + body_mass_g  + C(sex)'

y, X = penguins.species, penguins.drop(columns='species')
X = pd.get_dummies(X, drop_first=True)